@parliament:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:always-auth=false
@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/:always-auth=false
